body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
.corps{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    align-content: center;
}


/*Partie header */

header{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
#menu2{
    display: flex;
}

nav li{
    margin-left: 50px;
}
nav ul{
    list-style-type: none;
    display: flex;
    
}

nav a{
    text-decoration: none;
    color: #0065fc;
}
header nav {
    display: flex;
    align-items: center;
}
.inscrire{
    padding-left: 50px;
}



/* Partie section */

.localisation{
    display: flex;
    align-items: baseline;
}
form i{
    display: inline-flex;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 25% 0% 0% 25%;
    margin-right: 0px;
}
.texte{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 28px;
    padding: 0px 0px 2px 5px;
    border-radius: 1px;
    border: 1px #F2F2F2 solid;
    margin-bottom: 20px;
}
.bouton{
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    border: none;
    font-weight: bold;
    background-color: #0065fc;
    color: white;
    border-radius: 0% 12% 12% 0%;
    padding: 8px;
    margin-left: 0px;
}


/* Filtres */

nav{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.filtres{
    display: flex;
    align-items: center;
}
.btn1,.btn2,.btn3,.btn4{
    display: inline-block;
    border: 2px solid #F2F2F2;
    border-radius: 35px;
    padding: 1px;
    padding-right: 10px;
    margin-left: 20px;
    border-left: 0px #DEEBFF;
    border-bottom-left-radius: 55pt 25pt;
    border-top-left-radius: 38pt 30pt;
    
}

nav i{
    background-color: #DEEBFF;
    border-radius: 50%;
    border: 1px solid #DEEBFF;
    padding: 10px;
    color: #0065fc;
}
.filtre a{
    color: black;
    display: inline-flex;
}

/* Info */
.info .fas{
    color: #0065fc;
    font-size: 12px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #D9D9D9;
    border-radius: 2000px;
    margin-right: 10px;
}
.info p{
    font-size: 12px;
    display: inline;
}
.info{
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Partie article */

.héberg{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
}
#case1{
    height: max-content;
    width: max-content;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#case1 img{
    height: 100px;
   
    
}
#star{
    color: #0065fc;
}
article h4, p {
    margin-top: 5px;
    margin-bottom: 5px;
}
article h3{
    font-weight:bolder
}
article a{
    text-decoration: none;
}
article a:visited {
    color: black;
}
#afficher{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Partie aside */

.populaire{
    background-color: #F2F2F2;
    border-radius: 10px;
}

/* Partie footer */
footer {
    background-color: #F2F2F2 ;
   
}
#background{
    display: flex;
    margin: 2%;
}
#propos{
    margin-right: auto;
}
#hébergements{
    margin-right: auto;
}
#Assistance{
    margin-right: auto;
}
footer ul{
    padding: 0%;
}
footer a:visited {
    color: black;
}
footer li{
    list-style: none;
    justify-content: space-around;

}

footer a{
    text-decoration: none;
    color: black;
}

/* RESPONSIVE */

/* Small*/
@media screen and (max-width: 576px) 
{
    body{
        font-weight: bold
    }
    .corps{
        display: flex;
        width: 95%;
    }
    .inscrire{
        display: flex;
    }
    nav li{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    header #menu2{
        display: flex;
    }
    header #logo{
        display: flex;
    }
    header .inscrire{
        display: flex;
    }
    .localisation{
        display: flex;
       justify-content: center;
    }
    section h1, p{
        display: flex;
        justify-content: center;
    }
    nav .filtres{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #propos
    {
        padding: 0%;   
    }
    #background{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
/* medium */
@media screen and (max-width: 768px)
{
    
}

/* large */

@media screen and ( max-width: 1200px)
{ 
    
}