body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
body a:hover{
    color: red;
}
.corps{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    align-content: center;
}


/*Partie header */

header{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.menu2{
    display: flex;
}

nav li{
    margin-left: 50px;
}
nav ul{
    list-style-type: none;
    display: flex;
    
}

nav a{
    text-decoration: none;
    color: #0065fc;
}
header nav {
    display: flex;
    align-items: center;
}
.inscrire{
    padding-left: 50px;
}



/* Partie section */

.localisation{
    display: flex;
    align-items: baseline;
}
form i{
    display: inline-flex;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 25% 0% 0% 25%;
    margin-right: 0px;
}
.texte{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 28px;
    padding: 0px 0px 2px 5px;
    border-radius: 1px;
    border: 1px #F2F2F2 solid;
    margin-bottom: 20px;
}
.bouton{
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    border: none;
    font-weight: bold;
    background-color: #0065fc;
    color: white;
    border-radius: 0% 12% 12% 0%;
    padding: 8px;
    margin-left: 0px;
}


/* Filtres */

nav{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.filtres{
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
.btn1,.btn2,.btn3,.btn4{
    display: inline-block;
    border: 2px solid #F2F2F2;
    border-radius: 35px;
    padding: 1px;
    padding-right: 10px;
    margin-left: 20px;
    border-left: 0px #DEEBFF;
    border-bottom-left-radius: 55pt 25pt;
    border-top-left-radius: 38pt 30pt;
    
}

nav i{
    background-color: #DEEBFF;
    border-radius: 50%;
    border: 1px solid #DEEBFF;
    padding: 10px;
    color: #0065fc;
}
.filtre a{
    color: black;
    display: inline-flex;
    padding-right: 5px;
    padding-left: 5px;
}

/* Info */
.info .fas{
    color: #0065fc;
    font-size: 12px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #D9D9D9;
    border-radius: 2000px;
    margin-right: 10px;
}
.info p{
    font-size: 12px;
    display: inline;
}
.info{
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Partie article */
.hebergement{
    font-weight: bolder;
    font-size: 18px;
    background-color: #F2F2F2;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.hebergement h2{
    margin-left: 25px;
}

.heberg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
a.bloc-link{
    flex: 1 30%;
}
.bloc-hebergement{
    background-color: #F2F2F2;
    border-radius: 15px;
    flex: 70%;
}
.bloc-hebergement figure{
    margin-bottom: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #C3C3C3;
}
.bloc-hebergement figure img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.grass{
    font-size: 1.1em;
    font-weight:bolder
}
.star{
    color: #0065fc;
    margin-left: 5px;
}
.grey{
    color: #C3C3C3;
}
.bloc-hebergement h3, .bloc-hebergement p {
    margin: 5px;
}
.bloc-hebergement h3{
    font-weight: bolder;
}
.bloc-hebergement h2{
    font-weight: bold;
    font-size: 18px;

}
.bloc-hebergement a{
    text-decoration: none;
    color: black;
}
.bloc-hebergement a:visited {
    color: black;
}
#afficher{
    margin-top: 20px;
    margin-bottom: 20px;
}
#afficher h3{
    margin-left: 40px;
    font-size: 14px;
}
.bloc-hebergement figure{
    min-width: 200px;
    margin: 15px;
}
#afficher{
    display: flex;
    background-color: #F2F2F2;
    width: 95%;
    padding-top: 15px;
}

/* Partie aside */

aside{
    display: flex;
    background-color: #F2F2F2;
    margin-left: 25px;
    border-radius: 10px;
    flex: 30%;
}

.populaire{
    background-color: #F2F2F2;
    margin-left: 25px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.lstar{
    color: #0065fc;
}
aside figure{
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 10px 10px 10px #C3C3C3;
}
aside figure img{
    width: 110px;
    max-width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    flex: 1 40%;
}
aside figcaption{
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex: 0 60%;
}
aside a{
    display: flex;
    height: 200px;
    text-decoration: none;
    color: black;
}
aside :visited{
    color: black;
}
.popicone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.hotelprix{
    flex: 100%;
}

/* Partie artside */

.artside{
    display: flex;
}
/* Partie section */


section figure{
    border-radius: 0px 0px 15px 15px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #f2f2f2;
    margin-left: 10px;
    margin-right: 10px;
}
section figcaption h3{
    padding: 5px;
    padding-left: 10px;
}

section a{
    display: flex;
    text-decoration: none;
    color: black;
    
}
section :visited{
    color: black;
}
section figure img{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}
.big img{
    object-fit: cover;
    height: 400px;
}
.big{
    width: 350px;
}
.small img{
    object-fit: cover;
}
.small{
    width: 320px;
}

.allactivity{
    display: flex;
    flex: 1 25%;
    
}
.smallactivity{
    display: flex;
    flex-direction: column;
}
.smallactivity img{
    height: 155px;
    width: 100%;
}
.allactivity figure{

}
/* Partie footer */
footer {
    background-color: #F2F2F2 ;
   
}
#background{
    display: flex;
    margin: 2%;
}
#propos{
    margin-right: auto;
}
#hebergements{
    margin-right: auto;
}
#Assistance{
    margin-right: auto;
}
footer ul{
    padding: 0%;
}
footer a:visited {
    color: black;
}
footer li{
    list-style: none;
    justify-content: space-around;

}

footer a{
    text-decoration: none;
    color: black;
}

/* RESPONSIVE */

/* large */

@media screen and ( max-width: 1200px){ 

    .bloc-hebergement{
        display: block;
        margin-top: 20px;
        background-color: white;
    }
    aside{
        display: block;
        width: 100%;
        margin: auto;
    }
    .artside{
        display: flex;
        flex-direction: column-reverse;
    }
    #background{
        display: flex;
        flex-direction: column;
    }
    #propos{
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 20px;
        flex-direction: column;
        font-size: large;
    }
    #hebergements{
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 20px;
        flex-direction: column;
        font-size: large;
    }
    #Assistance{
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 20px;
        flex-direction: column;
        font-size: large;
    }
    footer{
        width: 100%;
    }
}
/* medium */
@media screen and (max-width: 768px){

    .bloc-hebergement{
        display: block;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 85%;
        background-color: white;
    }

    .hebergement{
        background-color: white;
    }
    .heberg{
        background-color: white;
    }
    #afficher{
        background-color: white;
    }
    aside{
        display: block;
        width: 100%;
        margin: auto;
    }
    .small img{
        object-fit: cover;
        height: 115px;
        width: 290px;
    }
    .big img{
        object-fit: cover;
        height: 300px;
        width: 210px;
    }
    .artside{
        display: flex;
        flex-direction: column-reverse;
    }
    #background{
        display: flex;
        flex-direction: column;
    }
    #propos{
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 20px;
        flex-direction: column;
        font-size: large;
    }
    #hebergements{
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 20px;
        flex-direction: column;
        font-size: large;
    }
    #Assistance{
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 20px;
        flex-direction: column;
        font-size: large;
    }
}

/* Small*/
@media screen and (max-width: 576px) {
    body{
        margin: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .corps{
        margin: 0px;
        display: flex;
    }
    header{

    }
    aside{
        display: block;
        margin-top: 20px;
    }
    .artside{
        display: flex;
        flex-direction: column;
    }
    #background{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0px;
    }
    .allactivity{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
    }
    section figure{
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    section a{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .big img{
        object-fit: cover;
        height: 100px;
        width: 230px;
    }
    .small img{
        object-fit: cover;
        height: 100px;
        width: 230px;
    }
    aside{
        display: block;
        width: 100%;
        margin: auto;
    }
    .artside{
        display: flex;
        flex-direction: column-reverse;
    }
    footer{
        width: 100%;
    }
    #propos{
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 20px;
        flex-direction: column;
        font-size: larger;
    }
    #hebergements{
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 20px;
        flex-direction: column;
        font-size: larger;
    }
    #Assistance{
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 20px;
        flex-direction: column;
        font-size: larger;
    }
    
}