body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
.corps{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
}
@media screen and (max-width:812px) 
{
    .corps{
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
    }
    
}

/*Partie header */

@media screen and (max-width:812px) 
{
    .inscrire{
        display: flex;
    }
    
}

header{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

nav li{
    margin-right: 100px;
}
nav ul{
    list-style-type: none;
    display: flex;

}

nav a{
    text-decoration: none;
    color: #0065fc;
}
/* Partie section */

.localisation{
    display: flex;
    align-items: baseline;
}
post i{
    display: inline-flex;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 25% 0% 0% 25%;
    margin-right: 0px;
}
.texte{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 28px;
    padding: 0px 0px 2px 5px;
    border-radius: 1px;
    border: 1px #F2F2F2 solid;
    margin-bottom: 20px;
}
.bouton{
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    border: none;
    font-weight: bold;
    background-color: #0065fc;
    color: white;
    border-radius: 0% 12% 12% 0%;
    padding: 8px;
    margin-left: 0px;
}

/* Filtres */


nav{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.filtres{
    display: flex;
    align-items: center;
}
.btn1,.btn2,.btn3,.btn4{
    display: inline-block;
    border: 2px solid #F2F2F2;
    border-radius: 35px;
    padding: 1px;
    padding-right: 10px;
    margin-left: 20px;
    border-left: 0px #DEEBFF;
    border-bottom-left-radius: 55pt 25pt;
    border-top-left-radius: 38pt 30pt;
    
}

nav i{
    background-color: #DEEBFF;
    border-radius: 50%;
    border: 1px solid #DEEBFF;
    padding: 10px;
    color: #0065fc;
}
.filtre a{
    color: black;
    display: inline-flex;
}

/* Partie footer */
footer {
    display: flex;
    background-color: #F2F2F2;
   
}
footer ul{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
footer a:visited {
    color: black;
}
footer li{
    list-style: none;
    display: inline;
    justify-content: space-around;

}

footer a{
    text-decoration: none;
    color: black;
}

#propos{
    padding-right: 15%;
    padding-left: 2%;
    width: 70%;
}
#hébergements{
    padding-right: 15%;
    width: 70%;
}
#Assistance{
    padding-right: 15%;
    width: 70%;
}
@media screen and (max-width:812px) 
{
    #propos
    {
        
        padding: 0%;
        width: 50%;
    }
    footer{
        flex-direction: column;
        display: grid;
    }
    
}